@charset "UTF-8";

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */
body { background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; 
	background-position:center center;
	background-color:#000000; 
	font-size:16px; 
}

h1 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

main { /*give whitespace on top & bottom of page*/
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
}

#imageContainer {
	width:600px; /*if overflow is not hidden, the box width will not shown*/
	height:360px;
	background-color:grey;
	margin:0 auto;
	overflow:hidden; /*hide the rest of images*/
}

#houseImages { 
	/* images sit side by side because of plain HTML code*/
	position:relative;  /*a must-have property to make images slide*/
	width:4000px; /*larger than total width of all imgs*/
	transition: all .5s; /* animation of "slide" */
}

#houseImages img { float:left; } /* get rid of grey gaps */

#bottomNav { margin-top:30px; }

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigilContainer {
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites.png); /*six empty boxes filled in with matched area of img */
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -54px; } /* get measurement from psd (x,y) and try the data in inspector -> style*/ 
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-50.5px -54px; }
.baratheon:hover { background-position:-51px 0px; }

.lannister { background-position:-101px -54px; }
.lannister:hover { background-position:-101px 0px; }

.tully { background-position:-152px -54px; }
.tully:hover { background-position:-152px 0px; }

.greyjoy { background-position:-202px -54px; }
.greyjoy:hover { background-position:-202px 0px; }

.arryn { background-position:-253px -54px; }
.arryn:hover { background-position:-253px 0px; }
/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* add styles here for lightbox and video */
.lightbox
{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	align-items: center;
	padding: 60px 0 550px 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.show-lightbox 
{ 
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 auto; 
}

/*open lightbox*/
/*.lightbox:target
{
	display: block;
	 css repaint: "adding a class to the target"
	same as JS e.target.classList.add(`openLightbox`) 
}*/

/*close button*/
.close
{
	font-size: 30px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute;
	right: 2%;
}
.lightbox a
{
	text-decoration: none;
}

.house-info
{
	color: #fff;
	font-size: 1.3em;
	line-height: 1.8;
	letter-spacing: 1.2;
	width: 50%;
	margin: 20px auto;
	padding-bottom: 80px;
}

video 
{
	width: 65%;
	/*border: 1px solid #949393;*/
}

#controls
{
	height: 40px;
	width: 65%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: rgba(0,0,0,.7);
}

#progressBar
{
	height: 3px;
	top: 0;
	left: 0;
	width: 100%;
}

#progressFill
{
	height: 3px;
	/*width: 50px;*/
	background-color: #A2CEF5;

}

#controlIcons
{
	display: flex;
	margin-top: 7px;
}

#playBtn
{
	background: url(../images/pauseBtn.svg) no-repeat;
	height: 25px;
	border: 0;
	outline: 0;
	display: block;
	margin-left: 5%;
	cursor: pointer;
}

#playBtn:hover
{
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

#playBtn.play
{
	background: url(../images/playBtn.svg) no-repeat;
}

#volumeBtn
{
	background: url(../images/volumeBtn.svg) no-repeat;
	height: 25px;
	border: 0;
	outline: 0;
	display: block;
	margin-left: 5%;
	cursor: pointer;
}

#volumeBtn:hover
{
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

#volumeSlider
{
	display: none;
}

#volumeSlider.volumeShow
{
	display: block;
	width: 80px;
	height: 4px;
	margin-left: 3%;
	margin-top: 5px;
   -webkit-appearance: none;
  	background: rgb(162,206,245);
	background: linear-gradient(90deg, rgba(162,206,245,1) 50%, rgba(255,255,255,1) 50%);
   border-radius: 0;
}

#volumeSlider.volumeShow::-webkit-slider-thumb
{
   -webkit-appearance: none;
   appearance: none;
   width: 8px;
   height: 8px;
   background: rgb(255,255,255);
   border-radius: 50%;
   box-shadow: none;
   cursor: pointer;
}

#volumeSlider.volumeShow::-moz-range-thumb
{
   width: 8px;
   height: 8px;
   background: rgb(255,255,255);
   border-radius: 50%;
   cursor: pointer;
}
